body {
  box-sizing: border-box;
  color: #fff;
  background: url('../images/color.png');
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

#main {
  margin: 0 auto;
  width: 440px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 70px;
  padding: 15px 0 15px 115px;
  background: url('../images/logo.png') no-repeat;
  background-size: 100px 100px;
  text-align: left;
}
header h1, #findme h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  margin: 0 0 5px;
  padding: 0;
}
header h2 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#findme ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#findme ul li {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding-right: 10px;
  text-align: center;
  text-indent: -9999px;
}
#findme ul li:last-child {
  padding-right: 0;
}
#findme ul li.github {
  background: url('../images/github.png') no-repeat;
  background-size: 100px;
  width: 100px;
}
#findme ul li.twitter {
  background: url('../images/twitter.png') no-repeat;
  background-size: 120px;
}
#findme ul li.linkedin {
  background: url('../images/linkedin.png') no-repeat;
  background-size: 120px;
}



